@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-info {
		@apply text-blue-500;
	}

	.background-animate {
		background-size: 500%;

		-webkit-animation: backgroundAnimation 5s ease infinite;
		-moz-animation: backgroundAnimation 5s ease infinite;
		animation: backgroundAnimation 5s ease infinite;
	}

	@keyframes backgroundAnimation {
		0%,
		100% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
	}

	.loading::after {
		display: inline-block;
		animation: dotty steps(1, end) 2s infinite;
		content: "";
	}

	@keyframes dotty {
		0% {
			content: "";
		}
		17% {
			content: ".";
		}
		33% {
			content: "..";
		}
		50% {
			content: "...";
		}
		67% {
			content: "..";
		}
		83% {
			content: ".";
		}
		100% {
			content: "";
		}
	}
}
